// MAX-WIDTH CONTAINER SIZE
$max-width: 7000;


// BREAKPOINTS
$mobile: 720;
$desktop: $mobile + 1;


// COLORS
// $copy: ;
// $bgcolor: ;
$icons: #595959;
$bg: #363636;
$primary: #D5874C;
$secondary: #FFAD6E;
$cream: #FFF7F2;
$newsbackground: #F7F7F7;